.block {
    position: absolute;
    left: 0;
    top: 0;
    cursor: grab;
}

.block:active {
    cursor: grabbing;
}

.sliderContainer {
    position: relative;
    text-align: center;
    width: 315px;
    height: 40px;
    line-height: 35px;
    margin-top: 13px;
    margin-left: -3px;
    background: #DFE1E2;
    color: #45494c;
    border-radius: 20px;
    border: 1px solid #e4e7eb;
    box-sizing: border-box;
}

.sliderContainer_active .slider {
    border: 1px solid #1991FA;
}

.sliderContainer_active .sliderMask {
    height: 38px;
    border-width: 1px;
}

.sliderContainer_success .slider {
    border: 1px solid #52CCBA;
    background-color: #52CCBA !important;
}

.sliderContainer_success .sliderMask {
    border: 1px solid #52CCBA;
    background-color: #D2F4EF;
}

.sliderContainer_success .sliderIcon {
    color: #ffffff;
}

.sliderContainer_fail .slider {
    border: 1px solid #f57a7a;
    background-color: #f57a7a !important;
}

.sliderContainer_fail .sliderMask {
    height: 38px;
    border: 1px solid #f57a7a;
    background-color: #fce1e1;
}

.sliderContainer_fail .sliderIcon {
    color: #ffffff;
}

.sliderContainer_active .sliderText, .sliderContainer_success .sliderText, .sliderContainer_fail .sliderText {
    display: none;
}

.sliderText {
    color: #88949d;
}

.sliderMask {
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    border: 0 solid #1991FA;
    border-top-left-radius: 20px;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    border-bottom-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;

    background: #D1E9FE;
}

.slider {
    position: absolute;
    top: -9px;
    left: 0;
    width: 56px;
    height: 56px;
    background: #fff;
    border-radius: 33px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    transition: background .2s linear;
    cursor: grab;
}

.slider:active {
    color: #ffffff;
    cursor: grabbing;
}

.slider:hover {
    color: #ffffff;
    background: #1991FA;
}

.slider:hover .sliderIcon {
    color: #ffffff;
}

.sliderIcon {
    position: relative;
    line-height: 56px;
    font-size: 27px;
    color: #1E90FF
}

.refreshIcon {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    font-size: 1.5rem;
    width: 1.7rem;
    cursor: pointer;
    filter: drop-shadow(1px 1px 1px black);
}

/*global*/

/* mobile */

@media only screen
and (max-device-width: 480px) {
    .sliderContainer {
        width: 620px;
        height: 80px;
        line-height: 70px;
        margin-top: 26px;
        margin-left: 1px;
        border-radius: 20px;
        border: 1px solid #e4e7eb;
        font-size: 44px;
        padding-left: 81px;
    }

    .sliderContainer_active .sliderMask {
        height: 76px;
    }

    .sliderContainer_fail .sliderMask {
        height: 76px;
    }

    .slider {
        top: -18px;
        left: -7px;
        width: 112px;
        height: 112px;
        border-radius: 66px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        transition: background .2s linear;
    }

    .sliderIcon {
        line-height: 112px;
        font-size: 54px;
    }

    .refreshIcon {
        font-size: 3rem;
        width: 3.4rem;
        
    }
  }


