- styles = require("./main.css");
#ImgVerif(style='height: 225px; position: relative; width: 310px; margin: 0px auto;')
  canvas(width='310', height='155')
  .refreshIcon
  canvas.block(width='310', height='155')
  .sliderContainer
    .sliderMask
      .slider
        span.sliderIcon
    span.sliderText 向右滑动填充拼图